/* FILE BROWSER */

div.rendered-react-keyed-file-browser {
  @apply h-[calc(100%-24px)] p-2;
}

div.rendered-file-browser {
  @apply h-full rounded-md border-2;
}

div.files {
  @apply h-full overflow-auto;
}

tbody {
  @apply h-full overflow-auto;
}

tr {
  @apply h-[41px];
}

td {
  @apply h-[41px];
}

/* make icons appear next to text instead of above*/
td.name > div > div > div > a {
  @apply flex items-center gap-2;
}

td.name > div > div > a {
  @apply flex items-center gap-2;
}

/* hover effect */
tbody > tr.folder {
  @apply hover:bg-gray-300;
}
tbody > tr.file {
  @apply hover:bg-gray-300;
}

/* hide size */
tr.file > td:nth-child(2) {
  @apply hidden;
}
th.size {
  @apply hidden;
}

/* hide lastModified */
tr.file > td:nth-child(3) {
  @apply hidden;
}
th.modified {
  @apply hidden;
}

/* hide file details */
div.rendered-react-keyed-file-browser > div:nth-child(2) {
  @apply hidden;
}

/* hide action bar */
div.action-bar {
  @apply m-0 hidden h-[0px] w-[0px] overflow-hidden p-0;
}

div[placeholder='Filter files'] {
  @apply hidden;
}
